@font-face {
    font-family: 'cochin';
    src: url(fonts/Cochin\ Italic.otf);
}

@font-face {
    font-family: 'geo';
    src: url(fonts/Geo-Regular.ttf);
}

@keyframes color-change {
    0% {
        color: black;
    }
    50% {
        color: rgb(216, 198, 198);
    }
    100% {
        color: rgb(216, 29, 29);
    }
}

@keyframes bg-change {
    0% {
        background-color: black;
        box-shadow: 0 20px 0 -3px black, 0 20px black;
    }
    50% {
        background-color: rgb(216, 198, 198);
        box-shadow: 0 20px 0 -3px black, 0 20px rgb(216, 198, 198);
    }
    100% {
        background-color: rgb(216, 29, 29);
        box-shadow: 0 20px 0 -3px black, 0 20px rgb(216, 29, 29);
    }
}

body {
    display: flex;
    flex-direction: column;
    background-color: black;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.h1 {
    font-family: 'cochin', serif;
    font-style: italic;
    font-size: 160px;
    color: rgb(216, 29, 29);
    text-align: center;
    margin: 200px auto 10px auto;
    font-weight: 100;
    animation: color-change 1.5s;
}

.play {
    height: 45px;
    width: 100px;
    font-family: 'geo', sans-serif;
    font-size: 36px;
    margin: auto;
    text-transform: uppercase;
    background-color: rgb(216, 29, 29);
    border: none;
    box-shadow: 0 20px 0 -3px black, 0 20px rgb(216, 29, 29);
    animation: bg-change 1.5s;
}

.home-body .hover {
    margin-top: 5px;
    background-color: white;
    box-shadow: 0 15px 0 -3px black, 0 15px white;
}

.home-body .click {
    margin-top: 20px;
    background-color: white;
    box-shadow: none;
}