body {
    display: flex;
    flex-direction: row;
    margin-top: 92px;
    background-color: black;
}

.container {
    margin: 30px 0;
    display: grid;
    width: 500px;
    height: 500px;
}

.color-btns {
    display: flex;
    flex-direction: column;
    margin: auto 0 auto auto;
}

.size-btns {
    display: flex;
    flex-direction: column;
    margin: auto auto auto 40px;
}

.color-btns .hover,
.size-btns .hover {
    border: 5px solid white;
}

.color-btns .click,
.size-btns .click {
    background-color: white;
}

.red {
    background-color: rgb(216, 29, 29);
    height: 32px;
    width: 32px;
    margin: 40px;
    border: none;
}

.yellow {
    background-color: rgb(199, 182, 28);
    height: 32px;
    width: 32px;
    margin: 40px;
    border: none;
}

.blue {
    background-color: rgb(23, 207, 207);
    height: 32px;
    width: 32px;
    margin: 40px;
    border: none;
}

.big {
    height: 32px;
    width: 32px;
    margin: 40px auto;
    padding: 0;
    border: none;
}

.medium {
    height: 22px;
    width: 22px;
    margin: 40px auto;
    padding: 0;
    border: none;
}

.small {
    height: 12px;
    width: 12px;
    margin: 40px auto;
    padding: 0;
    border: none;
}

.set-red-background {
    background-color: rgb(216, 29, 29);
}

.set-red-border {
    border: 2px solid rgb(216, 29, 29);
}

.set-yellow-border {
    border: 2px solid rgb(199, 182, 28);
}

.set-yellow-background {
    background-color: rgb(199, 182, 28);
}

.set-blue-background {
    background-color: rgb(23, 207, 207);
}

.set-blue-border {
    border: 2px solid rgb(23, 207, 207);
}