body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.div {
    border: 2px solid black;
}

.div-hover {
    background-color: black;
}

.btn {
    margin: 30px auto;
}

.container {
    margin: 30px auto;
    display: grid;
    grid-template-columns: 16;
    grid-template-rows: auto;
    border: 2px solid black;
    width: 500px;
    height: 500px;
    padding: none;
}

.form {
    height: 100px;
    width: 280px;
    background-color: black;
    color: white;
    margin: auto;
    text-align: center;
    padding: 50px 20px 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 350px;
}